.banner__titulo_grande {
    font-size: 1.75em;
}

.css_html_js {
    width: 80%;
    border-radius: 25px;
    box-shadow: 5px 5px 10px var(--preto-0);
}

.topico_tecnologia {
    color: var(--amarelo);
    font-family: var(--montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item__link {
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 1em;
    text-decoration: none;
}

.secao1__itens {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .banner__titulo_grande {
        font-size: 5em;
    }

    .secao1__coluna {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5em;
        
    }
    
    .css_html_js {
        width: 45%;
    }

    .secao1__itens {
        gap: 3em;
    }

    .topico_tecnologia {
        font-size: 1.5em;
    }

    .item__link {
        font-size: 1.0em;
    }
}