/* Seção 1 */
.secao1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4em 0;
    gap: 2em;
    align-items: center;
}

.secao1__titulo {
    color: var(--amarelo);
    font-family: var(--montserrat);
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.secao1__texto {
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 1em;
}

/* Seção 2 */

.secao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--amarelo);
    padding: 2.5em 0;
    gap: 2em;
}

.secao2__titulo {
    color: var(--cinza-escuro-3);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.secao2__lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
    gap: 1em;
    text-align: center;
}

.secao2__lista_item {
    color: var(--cinza-escuro-3);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.secao2__lista_item_link {
    text-decoration: none;
    color: var(--cinza-escuro-3);
}

.secao3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4em 0.2em;
    gap: 3em;
}

.secao3__bloco {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

@media screen and (min-width: 1024px) {

    .secao1 {
        flex-direction: row;
        justify-content: space-around;
        padding: 10em;
        margin: 0 5em;
        gap: 15em;
    }

    .secao1__titulo {
        font-size: 4em;
    }

    .secao1__texto {
        font-size: 1.5em;
    }

    .secao2 {
        padding: 10em;
        gap: 5em;
    }

    .secao2__titulo {
        font-size: 3em;
    }

    .secao2__lista {
        gap: 3em;
    }

    .secao2__lista_item {
        font-size: 2em;
    }

    .secao3 {
        gap: 10em;
        margin: 5em 0;
    }

    .secao3__bloco {
        flex-direction: row;
        justify-content: space-around;
        gap: 10em;
        margin: 3em 12em;
    }

    .reverse {
        display: flex;
        flex-direction: row-reverse;
    }

}